* NAME: Rishabh Patil
* SAP: 60009200056
* BATCH: D12

In [ ]:
import numpy as np
from functools import reduce

In [ ]:
a = np.array([[1,1,3], [5,2,6], [2,3,4]])

b = np.array([[1,1,3], [5,2,6], [-2,-1,-3]])

In [ ]:
def mapper(mat1, mat2):
  result = list()

  for i, row in enumerate(mat1):
    for j, item in enumerate(row):
      result.append([(i, None), ('A', j, item)])

  for i, row in enumerate(mat2.T):
    for j, item in enumerate(row):
      result.append([(None, i), ('B', j, item)])

  return result

In [ ]:
def shuffler(mat1, mat2, maps_list):
  result = dict()
  for row in range(mat1.shape[0]):
    for col in range(mat2.shape[1]):
      result[(row, col)] = [item[1] for item in maps_list if (item[0][0]==row or item[0][1]==col)]
  return result

In [ ]:
def reducer(mat1, mat2, shuffled_map):
  result = np.zeros((mat1.shape[0],mat2.shape[1]))
  for key, value in shuffled_map.items():
    items_half_len = len(value) // 2
    inter_value = map(lambda x,y: x[-1]*y[-1], value[:items_half_len], value[items_half_len:])
    cell_result = reduce(lambda x, y: x+y, inter_value)
    print(key, value)
    result[key[0],key[1]] = cell_result
  return result

In [ ]:
def map_reduce(mat1, mat2):
  mapper_result = mapper(mat1, mat2)
  print("\nMapper result")
  print(*mapper_result, sep="\n")
  shuffler_result = shuffler(mat1, mat2, mapper_result)
  print("\nShuffler result")
  # print(*shuffler_result, sep="\n")
  reducer_result = reducer(mat1, mat2, shuffler_result)
  print("\nReducer result")
  print(*reducer_result, sep="\n")

In [ ]:
map_reduce(a, b)

Mapper result
[(0, None), ('A', 0, 1)]
[(0, None), ('A', 1, 1)]
[(0, None), ('A', 2, 3)]
[(1, None), ('A', 0, 5)]
[(1, None), ('A', 1, 2)]
[(1, None), ('A', 2, 6)]
[(2, None), ('A', 0, 2)]
[(2, None), ('A', 1, 3)]
[(2, None), ('A', 2, 4)]
[(None, 0), ('B', 0, 1)]
[(None, 0), ('B', 1, 5)]
[(None, 0), ('B', 2, -2)]
[(None, 1), ('B', 0, 1)]
[(None, 1), ('B', 1, 2)]
[(None, 1), ('B', 2, -1)]
[(None, 2), ('B', 0, 3)]
[(None, 2), ('B', 1, 6)]
[(None, 2), ('B', 2, -3)]

Shuffler result
(0, 0) [('A', 0, 1), ('A', 1, 1), ('A', 2, 3), ('B', 0, 1), ('B', 1, 5), ('B', 2, -2)]
(0, 1) [('A', 0, 1), ('A', 1, 1), ('A', 2, 3), ('B', 0, 1), ('B', 1, 2), ('B', 2, -1)]
(0, 2) [('A', 0, 1), ('A', 1, 1), ('A', 2, 3), ('B', 0, 3), ('B', 1, 6), ('B', 2, -3)]
(1, 0) [('A', 0, 5), ('A', 1, 2), ('A', 2, 6), ('B', 0, 1), ('B', 1, 5), ('B', 2, -2)]
(1, 1) [('A', 0, 5), ('A', 1, 2), ('A', 2, 6), ('B', 0, 1), ('B', 1, 2), ('B', 2, -1)]
(1, 2) [('A', 0, 5), ('A', 1, 2), ('A', 2, 6), ('B', 0, 3), ('B', 1, 6), ('B', 2, -3)]
(2, 0) [('A', 0, 2), ('A', 1, 3), ('A', 2, 4), ('B', 0, 1), ('B', 1, 5), ('B', 2, -2)]
(2, 1) [('A', 0, 2), ('A', 1, 3), ('A', 2, 4), ('B', 0, 1), ('B', 1, 2), ('B', 2, -1)]
(2, 2) [('A', 0, 2), ('A', 1, 3), ('A', 2, 4), ('B', 0, 3), ('B', 1, 6), ('B', 2, -3)]

Reducer result
[0. 0. 0.]
[3. 3. 9.]
[ 9.  4. 12.]

In [ ]:
np.matmul(a,b)

array([[ 0,  0,  0],
       [ 3,  3,  9],
       [ 9,  4, 12]])