* NAME: Rishabh Patil
* SAP: 60009200056
* BATCH: D12

In [ ]:
rlist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
import random
rlist = [random.randint(1, 100) for _ in range(100)]

In [ ]:
len(rlist)

100

In [ ]:
maxi = 0

In [ ]:
for i in range(len(rlist)):
  val = bin((rlist[i])%(len(rlist)+1))[2:]
  sum=0
  for j in range(len(val)-1, 0, -1):
    if(val[j]=='0'):
      sum+=1
    else:
      break
  if(sum>maxi):
    maxi = sum

In [ ]:
print("Distinct elemtns:", 2**maxi)

Distinct elemtns: 64